@using System.Threading
@using BForms.Html
@using BForms.Models
@using Hesira.Helpers.General
@using Hesira.Helpers.Globalisation
@using Hesira.Helpers.Html
@using Hesira.Resources
@using RequireJS;

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    @Styles.Render("~/BFormsCSS")

    @Styles.Render("~/LTEAdminCSS")


    @*For IE7-8 support of HTML5 elements and responsive*@
    <!--[if lt IE 9]>
        <script src="@Url.Content("~/Scripts/BForms/Bundles/iefix.js")"
                type="text/javascript">
            </script>
    <![endif]-->
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon">

</head>


@{

    var userData = Session["UserData"] as UserData;
    var currentContext = Url.RequestContext.HttpContext;
    var profileUrl = string.Empty;
    var usersUrl = string.Empty;
    var appointmentsUrl = string.Empty;
    var prescriptionsUrl = string.Empty;
    var traceUrl = string.Empty;



    var currentLanguage = Thread.CurrentThread.CurrentCulture.Name.Split('-')[0];


    if (userData != null)
    {
        if (userData.IsAdmin)
        {
            profileUrl = Url.Action("Index", "Profile", new { area = "Admin", userId = userData.Id });
            usersUrl = Url.Action("Index", "Users", new { area = "Admin" });

        }
        else if (userData.IsDoctor)
        {

            profileUrl = Url.Action("Index", "Profile", new { area = "Doctor", userId = userData.Id });
            usersUrl = Url.Action("Index", "Users", new { area = "Doctor" });
            appointmentsUrl = Url.Action("Index", "Appointments", new { area = "Doctor" });
            prescriptionsUrl = Url.Action("Index", "Prescriptions", new { area = "Doctor" });
        }
        else
        {
            profileUrl = Url.Action("Index", "Profile", new { area = "Patient", userId = userData.Id });
            appointmentsUrl = Url.Action("Index", "Appointments", new { area = "Patient" });
            traceUrl = Url.Action("Index", "Trace", new { area = "Patient", userId = userData.Id });

        }


    }


}
<body class="skin-blue">

    <header class="header">
        <a href=@Url.Action("Index", "Home", new { area = "" }) class="logo">
            @Html.BsGlyphicon(Glyphicon.PlusSign)
            Hesira
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i>
                            <span>@userData.Name</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-user">
                            <!-- User image -->
                            <li class="user-header bg-light-blue">
                                @Html.Raw(HtmlHelpers.UserAvatar(userData, currentContext))
                                <p>
                                    @(!string.IsNullOrEmpty(userData.Profession) ? userData.Name + " - " + userData.Profession : userData.Name)
                                </p>

                            </li>
                            <!-- Menu Body -->
                            <li class="user-body">
                                <div class="col-xs-6 text-center">

                                    @if (userData.IsAdmin || userData.IsDoctor)
                                    {
                                        <a href=@usersUrl>
                                            <i class="ion ion-person-stalker"></i>
                                            <span style="display: block">@Resource.Users</span>
                                        </a>

                                    }
                                    else
                                    {
                                        <a href=@traceUrl>
                                            <i class="ion ion-medkit"></i>
                                            <span style="display: block">@Resource.MedicalTrace</span>
                                        </a>

                                    }
                                </div>
                                <div class="col-xs-6 text-center">

                                    @if (userData.IsPatient || userData.IsDoctor)
                                    {
                                        <a href=@appointmentsUrl>
                                            @Html.BsGlyphicon(Glyphicon.Calendar)
                                            <span style="display: block">@Resource.Appointments</span>
                                        </a>

                                    }
                                    else
                                    {

                                        <a href=@profileUrl>
                                            @Html.BsGlyphicon(Glyphicon.User)
                                            <span style="display: block">@Resource.Profile</span>
                                        </a>

                                    }

                                </div>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href=@profileUrl class="btn btn-menu btn-primary btn-flat no-color"><i class="ion ion-clipboard"></i> @Resource.Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="@Url.Action("Logout", "Authentication", new { returnUrl = HttpContext.Current.Request.Url.AbsolutePath , area = "" })" class="btn btn-menu btn-primary btn-flat no-color"> @Html.BsGlyphicon(Glyphicon.LogOut) @Resource.SignOut</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    @{
        var sidebarLeftClass = string.Empty;

        if (!userData.SideBarOpen)
        {
            sidebarLeftClass = "collapse-left";
        }

    }
    <div class="wrapper row-offcanvas row-offcanvas-left">


        <!-- Left side column. contains the logo and sidebar -->
        <aside class="left-side sidebar-offcanvas @sidebarLeftClass ">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        @Html.Raw(HtmlHelpers.UserAvatar(userData, currentContext))
                    </div>
                    <div class="pull-left info">
                        <p>@Resource.Hy, @userData.Firstname</p>
                        <a href="#"> @Html.BsGlyphicon(Glyphicon.Ok) @Resource.Online</a>
                    </div>
                </div>

                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li>
                        <a href=@Url.Action("Index", "Home", new { area = "" })>
                            @Html.BsGlyphicon(Glyphicon.Home) <span>@Resource.Dashboard</span>
                        </a>
                    </li>
                    @if (userData.IsPatient || userData.IsDoctor)
                    {

                        <li>
                            <a href=@appointmentsUrl>
                                @Html.BsGlyphicon(Glyphicon.Calendar)
                                <span>@Resource.Appointments</span>
                            </a>
                        </li>

                    }
                    <li>
                        @if (userData.IsAdmin || userData.IsDoctor)
                        {

                            <a href=@usersUrl>
                                <i class="ion ion-person-stalker"></i> <span>@Resource.Users</span>
                            </a>

                        }
                        else
                        {
                            <a href=@traceUrl>
                                <i class="ion ion-medkit"></i> <span>@Resource.MedicalTrace</span>
                            </a>


                        }
                    </li>

                    <li>
                        <a href=@profileUrl>
                            <i class="ion ion-clipboard"></i> <span>@Resource.Profile</span>
                        </a>
                    </li>

                    @if (userData.IsDoctor)
                    {
                        <li>
                            <a href=@prescriptionsUrl>
                                <i class="ion ion-medkit"></i> <span>@Resource.Prescriptions</span>
                            </a>
                        </li>
                    }

                    @if (currentLanguage == "ro")
                    {
                        <li>
                            <a href=@Url.ChangeLanguage("en")>
                                @Html.BsGlyphicon(Glyphicon.Globe) <span>@Resource.English</span>
                            </a>

                        </li>

                        <li>
                            <a href=@Url.ChangeLanguage("fr")>
                                @Html.BsGlyphicon(Glyphicon.Globe) <span>@Resource.Française</span>
                            </a>
                        </li>

                    }
                    else if (currentLanguage == "en")
                    {
                        <li>
                            <a href=@Url.ChangeLanguage("ro")>
                                @Html.BsGlyphicon(Glyphicon.Globe) <span>@Resource.Romanian</span>
                            </a>
                        </li>

                        <li>
                            <a href=@Url.ChangeLanguage("fr")>
                                @Html.BsGlyphicon(Glyphicon.Globe) <span>@Resource.Française</span>
                            </a>
                        </li>

                    }
                    else
                    {
                        <li>
                            <a href=@Url.ChangeLanguage("ro")>
                                @Html.BsGlyphicon(Glyphicon.Globe) <span>@Resource.Romanian</span>
                            </a>
                        </li>

                        <li>
                            <a href=@Url.ChangeLanguage("en")>
                                @Html.BsGlyphicon(Glyphicon.Globe) <span>@Resource.English</span>
                            </a>

                        </li>

                    }


                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Right side column. Contains the navbar and content of the page -->
        @{
            var sidebarRightClass = string.Empty;

            if (!userData.SideBarOpen)
            {
                sidebarRightClass = "strech";
            }
        }
        <aside class="right-side @sidebarRightClass">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    @(!string.IsNullOrEmpty(ViewBag.ContentHeader) ? ViewBag.ContentHeader : string.Empty)
                    <small>@(!string.IsNullOrEmpty(ViewBag.ContentHeaderSmall) ? ViewBag.ContentHeaderSmall : string.Empty)</small>
                </h1>
            </section>
            <!-- Main content -->
            <section class="content">

                @RenderBody()

            </section><!-- /.content -->

        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        @Html.RenderRequireJsSetup(Url.Content("~/Scripts"),
                Url.Content("~/Scripts/bforms/components/requirejs/require.js"),
                new[]
                {
                    "~/Scripts/BForms/RequireJS.config",
                    "~/RequireJS.config"
                })
    }
    else
    {
        @Html.RenderRequireJsSetup(Url.Content("~/Scripts"),
                Url.Content("~/Scripts/bforms/components/requirejs/require.js"),
                new[]
                {
                    "~/Scripts/BForms/RequireJS.Release.config",
                    "~/RequireJS.Release.config"
                })
    }

</body>


</html>