@using Hesira.Resources
@model Hesira.Areas.Doctor.Models.DrugViewModel

<h4>@Model.Name</h4>

<dl>
    <dt>
        @Resource.Vendor
    </dt>
    <dd>
        @Model.Vendor
    </dd>
</dl>

<dl>
    <dt>
        @Resource.GeneralName
    </dt>
    <dd>
        @Model.GeneralName
    </dd>
</dl>